<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <title>{{ site.title }}</title>
    </head>
    <body>
        <nav class="navbar">
            <a href="/">
                <img src="/assets/branding/Branding.png" alt="VMSeal Logo" />
            </a>
        </nav>

        <main id="content">
            {{ content }}
        </main>
    </body>
</html>